<div th:fragment="field" xmlns:th="http://www.thymeleaf.org">
	<div class="form-group"
		th:classappend="${#fields.hasErrors('${__${key}__}')}? 'has-error'">
		<label th:text="#{__${key}__}" class="control-label"></label>
		<div class="controls">
			<input th:value="${__${key}__}" class="form-control"
				th:field="*{__${key.split('\.')[1]}__}" th:errorclass="error" /> <span
				class="help-inline" th:if="${#fields.hasErrors('${__${key}__}')}"
				th:errors="*{__${key.split('\.')[1]}__}"></span>
		</div>
	</div>
</div>
<footer th:fragment="copy" xmlns:th="http://www.thymeleaf.org">
	&copy; 2011 The Good Thymes Virtual Grocery </footer>

