<!DOCTYPE html>
<html layout:decorator="layout/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div class="container" layout:fragment="content">
		<div class="panel panel-default">
			<div class="panel-heading">Customer form</div>
			<div class="panel-body">
				<form action="#" th:action="@{/customers/add}"
					th:object="${customer}" method="post" class="form ">
					<div th:include="partials/field :: field" th:with="key='customer.firstName'"></div>

					<div th:include="partials/field :: field" th:with="key='customer.lastName'"></div>

					<div th:include="partials/field :: field" th:with="key='customer.age'"></div>

					<button type="submit" class="btn btn-default pull-right">Save</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
